<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">TF WebApps 23</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="accueil">Accueil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Demonstrations
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="bindingOneWay">binding one Way</a></li>
            <li><a class="dropdown-item" routerLink="bindingTwoWay">binding two Way</a></li>
            <li><a class="dropdown-item" routerLink="eventBinding">event binding</a></li>
            <li><a class="dropdown-item" routerLink="attributeBinding">attribute binding</a></li>
            <li><a class="dropdown-item" routerLink="pipes">pipes</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Exercices
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="chrono">Chrono</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>