/* You can add global styles to this file, and also import other style files */
.img{
  background-image: url("./assets/images/jpg/404_homer.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}